body{
 background-color: #98d98e;
}


header{
 background-color:#DDFFDD;
 height:100px;
 display:block;
}

navi{
 background-color:#a0d8ef;
 display:block;
 border:solid black;
}


main{
 background-color: #fcd575;
 display:block;
 padding:5% 5% 5% 5%;
 margin:auto;
 width:90%;
}

.lineheight{
 line-height:300%;
}

.box1{
 background-color:white;
 border-radius:1.0em;
 padding:5%;
}

.box2{
 background-color:#ffec47;
 padding:5%;
}

.box3{
 background-color:#c3d825;
 padding:0%;
}


img.icon{
width:100px;
height:auto;

}
img {
    width:300px;
    height:auto;
}


p{
 font-size:110%;
 line-height:250%;
 
}
strong{
 font-size:120%;
 color:blue;
}
small{
 background-color:#DDFFDD;
 font-size:100%;
 display:block;
 border-radius:0.5em;
}


.font-xxlarge{
    font-size: xx-large;
}
.title{
 padding:5%;
}

.center{
  text-align: center;
}
.font-xlarge{
    font-size: x-large;
}


.mgr-10{
    margin-right:10px;
}
.mgl-10{
    margin-left:10px;
}
.mgl-30{
    margin-left:30px;
}
.mgr-30{
 margin-right:30px;
}

a.normal{
 color:black;
 text-decoration:none;
 background-color:white;
 border:1px solid; 
 border-color:black;
 padding:0.1%;
}
a.button{
    color:#ffffff;
    text-decoration: none;
    border-radius:0.5em;
    background-color:#e49e61;
    margin:1px;
    border:1px outset;
    border-color:#e49e61;
    padding:0.1%;
}

mjx-container{
 font-size:100% !important;
 overflow-x:auto;
}