body{
 background-color: #DDFFDD;
}

img.icon{
width:100px;
height:auto;
}
img {
    width:300px;
    height:auto;
}
.font-large{
    font-size: xx-large;
}


.mgr-10{
    margin-right:10px;
}
.mgl-10{
    margin-left:10px;
}
.mgl-30{
    margin-left:30px;
}
a{
    color:#005731;
}
a:visited{
    color:#005731;
    text-decoration: none;
}
